.search-results,
 .search-not-found {
     font-size: 20px;
     margin: 0 80px 20px 80px;
 }
 
 .category-content {
     @include flex-layout(inherit, flex, wrap, center);
     margin: 30px 40px;
     @media(max-width: 1024px) {
         margin: inherit;
     }
     .cotegory-content-item {
         background: #fff;
         box-shadow: 0px 0px 2px silver;
         margin: 0 11px 11px 11px;
         min-width: 250px;
         width: 23%;
         flex: 1;
         @include transition(0.2s);
         @media(max-width: 1024px) {
             flex: 1;
         }
         @media(max-width: 768px) {
             width: 100%;
         }
         &:hover {
              box-shadow: 0px 0px 10px silver;
             // @include transform(scale(1.1));
             box-shadow: 4px 5px 5px rgba(5, 5, 5, 0.5);
             .fw {
                 @include transform(rotate(30deg));
             }
         }
         .category-content-elements {
             margin: 10px;
             @include flex-layout(null, flex, column, space-around);
             .category-img-container {
                 height: auto;
                 figure {
                     margin: 0;
                     img {
                         width: 100%;
                     }
                 }
             }
             .fav-icon {
                 position: absolute;
                 right: 0;
                 margin: 5px;
                 opacity: 0.8;
                 a {
                     font-size: 30px;
                     text-decoration: none;
                     color: $template-backgroundColor;
                 }
             }
             .category-title {
                 p {
                     a {
                         text-decoration: none;
                         color: $body-color;
                         font-size: 18px;
                         position: relative;
                         z-index: 100;
                         &:hover {
                             color: $template-color;
                             text-decoration: underline;
                         }
                     }
                 }
             }
             .category-date-info {
                 ul {
                     padding: 0;
                     li {
                         color: grey;
                         font-size: 13px;
                         list-style-type: none;
                         p {
                             @include flex-layout(inherit, flex, wrap, flex-end);
                             .tag-text,
                             .date-text {
                                 margin-left: 5px;
                                 text-align: end;
                             }
                         }
                     }
                 }
             }
             .reference-graphic {
                 // background-image: url("https://cdn-images-1.medium.com/max/1920/1*vXjx4Y7EgQBwALkaeZJ0Cg.jpeg"); // url("/images/background_web_js.JPG");
                 // background-size: cover;
                 position: relative;
                 width: 100%;
                 img {
                     width: 100%;
                 }
             }
         }
     }
 }
