<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="ongetmovies | el sitio donde encuentras las mejores peliculas">
	<meta name="keywords" content="s">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="icon" href="/images/favicon.png">
	<link rel="shortcut icon" href="/images/favicon.png">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<section id="app">
		<h1>Loading...</h1>
	</section>
	<!--<script src="./dist/main.js"></script>-->
</body>
</html>