.details-category-content{
	margin: 30px 80px 0 80px;
	@media(max-width: 768px){
		margin: 0 10px 0 10px;
	}
	.details-title{
		font-size: 25px;
		margin: 0 0 20px; 
	}
	.details-text{
		margin: 70px 0 0;
		line-height: 1.5;
	}
	.overview {
		margin: 20px 0 20px;

	}

	.overview-img img {

		margin: 20px 0 20px;
	}
}